{% extends "layout.html" %} {% block title %} Agregar actividad {% endblock %}
{% block content %}
<main>
  <section class="main-section section-darkblue">
    <h1>Formulario para nueva actividad</h1>
  </section>
  <section class="main-section section-lightblue" style="min-height: 100vh">
    <form
      class="activity-form"
      method="POST"
      action="{{ url_for('main.procesar_agregar') }}"
      enctype="multipart/form-data"
      onsubmit="return validateForm();"
    >
      <fieldset class="form-section">
        <legend class="form-legend" style="border-top: none">
          ¿Donde se realizara la actividad?
        </legend>
        <br />
        <div class="field-section">
          <label for="region">Region:</label>
          <select name="region" id="region" autocomplete="off" required>
            <option value="">Selecciona la region...</option>
            {% for region in regiones %}
            <option value="{{ region.id }}">{{ region.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field-section">
          <label for="comuna">Comuna:</label>
          <select name="comuna" id="comuna" required>
            <option value="">Selecciona la comuna...</option>
          </select>
        </div>
        <div class="field-section">
          <label for="sector">Sector:</label>
          <input
            type="text"
            name="sector"
            id="sector"
            maxlength="100"
            placeholder="Opcional"
          />
        </div>
      </fieldset>
      <fieldset class="form-section">
        <legend class="form-legend">¿Quien organiza la actividad?</legend>
        <br />
        <div class="field-section">
          <label for="name">Nombre del organizador:</label>
          <input
            type="text"
            name="name"
            id="name"
            maxlength="200"
            required
            placeholder="Nombre y ambos apellidos"
            autocomplete="off"
          />
        </div>
        <div class="field-section">
          <label for="e-mail">Email de contacto:</label>
          <input
            type="email"
            id="e-mail"
            name="e-mail"
            maxlength="100"
            required
            placeholder="micorreo@gmail.com"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            title="Escribe tu correo electronico..."
          />
        </div>
        <div class="field-section">
          <label for="phone">Numero de celular:</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="\+[0-9]{3}\.[0-9]{8}"
            placeholder="+569.12345678"
            autocomplete="off"
          />
        </div>
        <fieldset class="form-section">
          <legend class="strong-legend">Redes sociales</legend>
          <div class="field-section">
            <label for="whatsapp">Whatsapp</label>
            <input
              type="checkbox"
              id="whatsapp"
              name="contact"
              value="whatsapp"
              onchange="revisaCheckSocials(this)"
            />
            <input
              type="text"
              id="whatsapp-field"
              name="whatsapp"
              class="special"
              minlength="4"
              maxlength="50"
              disabled
            />
          </div>
          <div class="field-section">
            <label for="telegram">Telegram</label>
            <input
              type="checkbox"
              id="telegram"
              name="contact"
              value="telegram"
              onchange="revisaCheckSocials(this)"
            />
            <input
              type="text"
              id="telegram-field"
              name="telegram"
              class="special"
              minlength="4"
              maxlength="50"
              disabled
            />
          </div>
          <div class="field-section">
            <label for="instagram">Instagram</label>
            <input
              type="checkbox"
              id="instagram"
              name="contact"
              value="instagram"
              onchange="revisaCheckSocials(this)"
            />
            <input
              type="text"
              id="instagram-field"
              name="instagram"
              class="special"
              minlength="4"
              maxlength="50"
              disabled
            />
          </div>
          <div class="field-section">
            <label for="X">X</label>
            <input
              type="checkbox"
              id="X"
              name="contact"
              value="X"
              onchange="revisaCheckSocials(this)"
            />
            <input
              type="text"
              id="X-field"
              name="X"
              class="special"
              minlength="4"
              maxlength="50"
              disabled
            />
          </div>
          <div class="field-section">
            <label for="tiktok">TikTok</label>
            <input
              type="checkbox"
              id="tiktok"
              name="contact"
              value="tiktok"
              onchange="revisaCheckSocials(this)"
            />
            <input
              type="text"
              id="tiktok-field"
              name="tiktok"
              class="special"
              minlength="4"
              maxlength="50"
              disabled
            />
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="form-section">
        <legend class="form-legend">¿Cuando y de que trata el evento?</legend>
        <div class="field-section">
          <label for="start-time">Dia y hora de incio:</label>
          <input
            type="datetime-local"
            id="start-time"
            name="start-time"
            required
          />
        </div>
        <div class="field-section">
          <label for="finish-time">Dia y hora de termino:</label>
          <input type="datetime-local" id="finish-time" name="finish-time" />
        </div>
        <div class="field-section">
          <label for="description">Describe tu evento:</label>
          <textarea
            id="description"
            name="description"
            rows="10"
            cols="50"
            maxlength="500"
            placeholder="Escribe una breve descripcion de tu evento..."
          ></textarea>
        </div>
        <fieldset class="form-section">
          <legend class="strong-legend">Tema/s del evento</legend>
          <div class="field-section">
            <label for="music">Musica</label>
            <input type="checkbox" id="music" name="theme" value="música" />
          </div>
          <div class="field-section">
            <label for="sport">Deporte</label>
            <input type="checkbox" id="sport" name="theme" value="deporte" />
          </div>
          <div class="field-section">
            <label for="science">Ciencias</label>
            <input type="checkbox" id="science" name="theme" value="ciencias" />
          </div>
          <div class="field-section">
            <label for="religion">Religion</label>
            <input
              type="checkbox"
              id="religion"
              name="theme"
              value="religión"
            />
          </div>
          <div class="field-section">
            <label for="politics">Politica</label>
            <input
              type="checkbox"
              id="politics"
              name="theme"
              value="política"
            />
          </div>
          <div class="field-section">
            <label for="technology">Tecnologia</label>
            <input
              type="checkbox"
              id="technology"
              name="theme"
              value="tecnología"
            />
          </div>
          <div class="field-section">
            <label for="games">Juegos</label>
            <input type="checkbox" id="games" name="theme" value="juegos" />
          </div>
          <div class="field-section">
            <label for="dancing">Baile</label>
            <input type="checkbox" id="dancing" name="theme" value="baile" />
          </div>
          <div class="field-section">
            <label for="food">Comida</label>
            <input type="checkbox" id="food" name="theme" value="comida" />
          </div>
          <div class="field-section">
            <label for="other">Otro</label>
            <input
              type="checkbox"
              id="other"
              name="theme"
              value="otro"
              onchange="revisaCheckSocials(this)"
            />
            <input
              type="text"
              class="special"
              id="other-field"
              name="other-theme-text"
              minlength="3"
              maxlength="15"
              placeholder="Especifica el tema (3-15 caracteres)"
              disabled
            />
          </div>
        </fieldset>
        <div
          class="field-section"
          style="flex-direction: column; gap: 0.5rem"
          id="photos-container"
        >
          <label for="photo1">Foto:</label>
          <input
            type="file"
            id="photo1"
            name="photos"
            accept="image/png, image/jpg, image/jpeg"
            required
          />
        </div>
        <button
          type="button"
          style="margin: 0.5rem; width: 50%; align-self: center"
          onclick="addPhoto();"
        >
          Agregar otra foto
        </button>
      </fieldset>
      <div class="field-section" style="gap: 0.5rem">
        <button type="submit">Enviar</button>
        <button
          type="button"
          onclick="window.location.href='{{ url_for('main.home') }}'"
        >
          Cancelar
        </button>
      </div>
    </form>
  </section>
</main>

<script>
  const regionSelect = document.getElementById("region");
  const comunaSelect = document.getElementById("comuna");
  const comunasPorRegion = {{ comunas_json|safe }};

  regionSelect.addEventListener("change", function () {
    const selectedRegion = this.value;
    comunaSelect.innerHTML =
      "<option value=''>Selecciona la comuna...</option>";
    if (comunasPorRegion[selectedRegion]) {
      const comunas = comunasPorRegion[selectedRegion];
      for (const comuna of comunas) {
        const option = document.createElement("option");
        option.value = comuna.id;
        option.textContent = comuna.nombre;
        comunaSelect.appendChild(option);
      }
    }
  });

  function revisaCheckSocials(element) {
    const inputField = document.getElementById(element.id + "-field");
    if (element.checked) {
      inputField.disabled = false;
      inputField.focus();
    } else {
      inputField.value = "";
      inputField.disabled = true;
    }
  }

  let numPhotos = 1;

  function addPhoto() {
    if (numPhotos >= 5) {
      alert("No puede agregar más de 5 fotos.");
      return;
    }
    numPhotos++;
    const photoContainer = document.getElementById("photos-container");
    const newInput = document.createElement("input");
    newInput.type = "file";
    newInput.accept = "image/jpg, image/png, image/jpeg";
    newInput.name = "photos";
    newInput.id = "photo" + numPhotos;
    photoContainer.appendChild(newInput);
  }

  validateEmail = (email) => {
    const regex = /^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$/;
    return regex.test(email);
  };

  validatePhone = (phone) => {
    const regex = /^\+[0-9]{3}\.[0-9]{8}$/;
    return regex.test(phone);
  };

  //If a social media checkbox is checked, was something written in the field?
  function validateSocials() {
    //Socials are checkboxes with name='contact'
    const socials = document.querySelectorAll('input[name="contact"]');
    for (let i = 0; i < socials.length; i++) {
      if (socials[i].checked) {
        const field = document.getElementById(socials[i].id + "-field");
        if (field.value.length < 4) {
          return false;
        }
      }
    }
    return true;
  }

  //Was at least 1 theme selected?
  function validateTheme() {
    const themes = document.querySelectorAll('input[name="theme"]');
    for (let i = 0; i < themes.length; i++) {
      if (themes[i].checked) {
        return true;
      }
    }
    return false;
  }

  //If theme 'other' is selected, check if characters are between 3 and 15
  function validateOtherTheme() {
    const otherField = document.getElementById("other-field");
    if (otherField.value.length < 3 || otherField.value.length > 15) {
      return false;
    }
    return true;
  }

  //Did the user upload at least 1 photo?
  function validatePhotos() {
    const photos = document.querySelectorAll('input[type="file"]');
    for (let i = 0; i < photos.length; i++) {
      if (photos[i].files.length > 0) {
        return true;
      }
    }
    return false;
  }

  //Is the finish time after the start time?
  function validateTime() {
    const startTime = document.getElementById("start-time").value;
    const finishTime = document.getElementById("finish-time").value;
    if (startTime && finishTime) {
      if (new Date(startTime) >= new Date(finishTime)) {
        return false;
      }
    }
    return true;
  }

  //Is the form valid? All validations must be true
  function validateForm() {
    const name = document.getElementById("name").value;
    const email = document.getElementById("e-mail").value;
    const phone = document.getElementById("phone").value;
    const description = document.getElementById("description").value;
    const region = document.getElementById("region").value;
    const comuna = document.getElementById("comuna").value;

    if (!region || !comuna) {
      alert("Por favor, selecciona una región y una comuna.");
      return false;
    }

    if (!validateEmail(email)) {
      alert("El correo electrónico no es válido.");
      return false;
    }

    if (phone && !validatePhone(phone)) {
      alert("El número de teléfono no es válido.");
      return false;
    }

    if (!validateSocials()) {
      alert("Por favor, completa los campos de redes sociales.");
      return false;
    }

    if (!validateTime()) {
      alert("La fecha de inicio debe ser anterior a la fecha de término.");
      return false;
    }

    if (!validateTheme()) {
      alert("Por favor, selecciona al menos un tema.");
      return false;
    }

    if (document.getElementById("other").checked && !validateOtherTheme()) {
      alert("El tema 'Otro' debe tener entre 3 y 15 caracteres.");
      return false;
    }

    if (!validatePhotos()) {
      alert("Por favor, sube al menos una foto.");
      return false;
    }

    // If all validations pass, submit the form
    alert("Formulario enviado con éxito!");
    return true;
  }
</script>
{% endblock %}
