{% extends "layout.html" %} {% block title %}Estadísticas{% endblock %} {% block
content %}
<main>
  <section class="main-section section-darkblue">
    <h1>Estadísticas de la pagina</h1>
    <p>
      Visualización de datos sobre las actividades registradas en el sitio web.
    </p>
  </section>

  <section class="main-section section-lightblue">
    <div class="chart-container">
      <section class="chart-section">
        <h2>Cantidad de Actividades por Día</h2>
        <p
          id="loading-line-chart"
          style="text-align: center; margin-bottom: 1rem; padding-top: 1rem"
        >
          Cargando grafico de actividades por día...
        </p>
        <canvas id="lineChart"></canvas>
      </section>

      <section class="chart-section">
        <h2>Total de actividades por tipo</h2>
        <p
          id="loading-pie-chart"
          style="text-align: center; margin-bottom: 1rem; padding-top: 1rem"
        >
          Cargando grafico de actividades por tipo...
        </p>
        <canvas id="pieChart"></canvas>
      </section>

      <section class="chart-section">
        <h2>Actividades por Horario y Mes</h2>
        <p
          id="loading-bar-chart"
          style="text-align: center; margin-bottom: 1rem; padding-top: 1rem"
        >
          Cargando grafico de actividades por horario y mes...
        </p>
        <canvas id="barChart"></canvas>
      </section>
    </div>

    <div style="text-align: center; margin-top: 2rem">
      <button
        class="styled-btn"
        onclick="location.href='{{ url_for('main.home')}}'"
      >
        Volver a la Portada
      </button>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const loadingLineChart = document.getElementById("loading-line-chart");
  fetch("/api/estadisticas/actividades-por-dia")
    .then((response) => {
      if (!response.ok) {
        throw new Error("Hubo un error al cargar los datos: ");
      }
      return response.json();
    })
    .then((data) => {
      loadingLineChart.style.display = "none";

      new Chart(document.getElementById("lineChart"), {
        type: "line",
        data: {
          labels: data.fecha,
          datasets: [
            {
              label: "Actividades",
              data: data.cantidad,
              borderColor: "black",
              backgroundColor: "gray",
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    })
    .catch((error) => {
      console.error("Error al cargar los datos para lineChart:", error);
      loadingLineChart.textContent = "Error al cargar el grafico.";
      loadingLineChart.style.color = "red";
    });

  const loadingPieChart = document.getElementById("loading-pie-chart");
  fetch("/api/estadisticas/actividades-por-tipo")
    .then((response) => {
      if (!response.ok) {
        throw new Error("Hubo un error al cargar los datos: ");
      }
      return response.json();
    })
    .then((data) => {
      loadingPieChart.style.display = "none";

      new Chart(document.getElementById("pieChart"), {
        type: "pie",
        data: {
          labels: data.tema,
          datasets: [
            {
              data: data.cantidad,
              backgroundColor: ["#000", "#555", "#999", "#ccc", "#eee"],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });
    })
    .catch((error) => {
      console.error("Error al cargar los datos para pieChart:", error);
      loadingPieChart.textContent = "Error al cargar el grafico.";
      loadingPieChart.style.color = "red";
    });

  const loadingBarChart = document.getElementById("loading-bar-chart");
  fetch("/api/estadisticas/actividades-por-mes-y-horario")
    .then((response) => {
      if (!response.ok) {
        throw new Error("Hubo un error al cargar los datos: ");
      }
      return response.json();
    })
    .then((data) => {
      new Chart(document.getElementById("barChart"), {
        type: "bar",
        data: {
          labels: data.meses,
          datasets: [
            {
              label: "Mañana",
              data: data.madrugada,
              backgroundColor: "#000",
            },
            {
              label: "Tarde",
              data: data.tarde,
              backgroundColor: "#999",
            },
            {
              label: "Noche",
              data: data.noche,
              backgroundColor: "#ccc",
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    })
    .catch((error) => {
      console.error("Error al cargar los datos para barChart:", error);
      loadingBarChart.textContent = "Error al cargar el grafico.";
      loadingBarChart.style.color = "red";
    });
</script>
{% endblock %}
