{% extends "layout.html" %} {% block title %}Inicio{% endblock %} {% block
content %}
<main>
  <section class="main-section section-darkblue">
    <h1>Bienvenido a la plataforma de actividades!</h1>
    <p>Descubre, comparte y organiza actividades recreativas en tu zona.</p>
  </section>
  <section class="main-section section-lightblue" style="min-height: 100vh">
    <h2 style="padding-bottom: 1rem">Ultimas actividades agregadas</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Inicio</th>
          <th scope="col">Término</th>
          <th scope="col">Comuna</th>
          <th scope="col">Sector</th>
          <th scope="col">Tema</th>
          <th scope="col">Foto</th>
        </tr>
      </thead>
      <tbody>
        {% for actividad in actividades %}
        <tr>
          <td>{{ actividad.fecha_inicio }}</td>
          <td>{{ actividad.fecha_termino }}</td>
          <td>{{ actividad.comuna }}</td>
          <td>{{ actividad.sector }}</td>
          <td>
            <ul style="margin: 1rem; align-self: center">
              {% for tema in actividad.temas %}
              <li style="padding-bottom: 1rem">{{ tema }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <img
              src="{{ url_for('static', filename=actividad.foto) }}"
              alt="Imagen de la actividad"
              class="activity-image"
            />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</main>

{% endblock %}
