{% extends "layout.html" %} {% block title %}Inicio{% endblock %} {% block
content %}
<main>
  <section class="main-section section-darkblue">
    <h1>Bienvenido a la plataforma de actividades!</h1>
    <p>Descubre, comparte y organiza actividades recreativas en tu zona.</p>
  </section>
  <section class="main-section section-lightblue" style="min-height: 100vh">
    <h2 style="padding-bottom: 1rem">Ultimas actividades agregadas</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Inicio</th>
          <th scope="col">Término</th>
          <th scope="col">Comuna</th>
          <th scope="col">Sector</th>
          <th scope="col">Tema</th>
          <th scope="col">Foto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>ss</td>
          <td>
            <img
              src="{{ url_for('static', filename='img/rock.jpg') }}"
              alt="Es una roca"
              class="activity-image"
            />
          </td>
        </tr>
        <tr>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>ss</td>
          <td>s</td>
        </tr>
        <tr>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>ss</td>
          <td>s</td>
        </tr>
        <tr>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>ss</td>
          <td>s</td>
        </tr>
        <tr>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>s</td>
          <td>ss</td>
          <td>s</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>

{% endblock %}
