<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}Titulo{% endblock %}</title>
  </head>
  <body>
    {% include "_header.html" %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
